html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

* header{
    border: 1px solid black;
    
}


header{
    background-color: #ffcc00;
    display: flex;
}

.container-header{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
 
}

.autore{
    padding-top: 520px;
    
}

.container1{
    height:100%;
    width: 100%;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    flex-grow:1;
}

#play{

 flex-grow: 1;
 flex-basis: 0;

}

.container-footer{
    height: 100vh;
    display:flex;
    justify-content:space-around;
   
    
   

 
}

.arrow{
   
    height:100%;
    background-color: red;
    display:flex;
    justify-content: center;
    flex-grow: 1;
    
   
} 

.mouth{

    height:100%;
    display:flex;
    justify-content: center;
    flex-grow: 1;
    background-color: #660099;

}

.pic{
    align-self: center;
}

.container-donnastrana{
    background-color: purple;
}